
.material-symbols-outlined{
  vertical-align: middle;
}
ul{
  list-style: none;
}

/*side nav*/
.side-nav{
  margin: 1rem;
  max-width: 220px;
  max-height: 95vh;
  padding: 0 2rem 1rem;
  border-radius: 15px;
  border: 2px solid;
  background-color: rgb(243, 245, 247);
  position: sticky;
  top: 0;
}
.side-nav a:hover, a:focus {
  color: #debb7e;
  box-shadow: 1px 1px 1px 1px ;
}
.menu-top{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu-top span{
  background-color: beige;
  position: absolute;
  right: 10px;
  top: 30px;
  border: 1px solid;
}
.menu-top span:hover{
  cursor: pointer;
}
.search-bar{
  background-color: #debb7e;
  display: flex;
  flex-wrap: nowrap;
}
.search-bar span{
  cursor: pointer;
}

.tasks ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.tasks li{
  
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}
.lists li{
  margin-bottom: 10px;
  background-color: aliceblue;
  font-weight: 500;
}
.lists li:hover{
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px ;
}
.tags{
  position: relative;
 
}
.tags__header{
  display: flex;
  justify-content: space-between;
}
.tags__header span{
  position: absolute;
  right: 10px;
  top: 20px;
}
.tags__header span:hover{
  cursor: pointer;
}
.tags ul{
  padding: 0;
  margin-top: 0;
  /* background-color: #555; */

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tags li{
  background-color: rgb(98, 187, 142);
  color: #fff;
  border-radius: 5px;
  padding: 0 2px;
}
.tags li:hover{
  cursor: pointer;
  color: #555;
  background-color: rgb(196, 209, 221);
}
.side-nav__settings{
  margin-top: 25px;
}
/*side nav*/




