
.hero{
    display: flex;
}
.main{
    width: 90%;
}
.home_h1{
   display:flex;
   justify-content: center;
   background-color: aliceblue;
   margin-bottom: 5rem;
}

.add_card{
    background-color: rgb(219, 219, 233);
    max-width: 250px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_card:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(180, 190, 199);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}