
.hero{
    display: flex;
}
.main{
    width: 90%;
}
.home_h1{
   display:flex;
   justify-content: center;
   background-color: aliceblue;
   margin:0 0 2rem 0;
   position: sticky;
   top: 0;
   z-index: 1;
}

.add_card{
    background-color: rgb(219, 219, 233);
    width: 200px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_card:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(180, 190, 199);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
/*form*/
.formContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.formContainer h2 {
    text-align: center;
    color: #333;
}
.formContainer div {
    margin-bottom: 15px;
}
.formContainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.formContainer input[type="text"],
.formContainer textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}
.formContainer input[type="text"]:focus,
.formContainer textarea:focus {
    border-color: #007bff;
    outline: none;
}
.formContainer button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.formContainer button:hover {
    background-color: #0056b3;
}
/*form*/

/*card*/
.card {
    width: 200px;
    height: 220px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px; 
    margin: 16px; 
    transition: transform 0.2s; 
    position: relative;
}

.card:hover {
    transform: scale(1.02);
}
.card h2 {
    font-size: 1.5rem;
    margin: 0; 
}
.card p {
    font-size: 1rem;
    color: #555; 
}
.card small {
    color: #888;
    font-size: 0.9rem; 
    margin-top: 8px; 
    position: absolute;
    bottom: 10px;
}
.card_Container{
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*card*/